.home__left-pane--no-bullets {
    list-style-type: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    overflow: auto;
}

.home__left-pane-title {
    padding-bottom: 1rem;
}

.home__left-pane-card {
    height: 135px;
}

.home_right-menu {
    margin-left: auto;
    width: 30%;
    border-left-style: solid;
    border-left-color: #dedede;
    border-left-width: 1px;
}

ion-menu {
    max-width: 25% !important;
}

.split-pane-md.split-pane-visible>.split-pane-side {
    min-width: 270px;
    max-width: 100%;
}