.header__items-container {
    display: flex;
}

.header__title {
    flex: 0 0 10%;
    max-width: 10%;
}

.header__search {
    max-width: 30%;
    flex: 0 0 90%;
}

.header__image {
    height: 3.5rem;
}

.searchbar-input.sc-ion-searchbar-md {
    border: 0;
    box-shadow: none;
}