@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0.01;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.home {
  --padding-top: 3rem;
  --padding-bottom: 3rem;
  --padding-start: 3rem;
  --padding-end: 3rem;
}

.home__title {
  padding-bottom: 2rem;
}

.home__mindset--positive {
  --padding-top: 0.5rem;
  --padding-bottom: 0.5rem;
}

.home__mindset--negative {
  --padding-top: 0.5rem;
  --padding-bottom: 0.5rem;
}

.home--hidden {
  display: none;
}

.home--shown {
  display: block;
}

.home__followup-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.home__followup-thoughts {
  padding: 1rem 0;
}

.home__confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home__confirmation-icon {
  height: 7rem;
  width: 7rem;
}

.home__confirmation-circle-loader {
  margin-bottom: 7em/2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left-color: var(--ion-color-primary);
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 7em;
  height: 7em;
}

.home__confirmation-circle-loader--load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: var(--ion-color-success);
  transition: border 500ms ease-out;
}

.display-none {
  display: block;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
