.nav-panel__header {
  padding: 4rem 1.5rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.nav-panel__header-img {
  --border-radius: 50%;
  --size: 5rem;
  align-self: center;
}

.nav-panel__header-subtext {
  color: var(--ion-color-medium);
}

.nav-panel__item-label {
  padding: 0 1rem;
}
